<div class="ui-g">
    <div class="ui-g-8">
        <product-view [products] = "products" (filter)= "onProductFilter($event)"></product-view>
            
    </div>
    <div class="ui-g-4">
        <!-- <div class="ui-messages ui-widget ui-corner-all ui-messages-success">
            Vender
        </div> -->
        <product-list></product-list>
        <div class="dashboard">
            <div class="card contacts">
                <ul>
                    <li class="clearfix">
                        <a>
                            <span class="name" style="float: left; color: black;  margin-top: 5px; font-weight: bolder; font-size: x-large;">
                                IVA
                            </span>
                            <span style="float: right; font-weight: bold; font-size: x-large; color: black;">{{0 | currency}}</span>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a>
                            <span class="name" style="float: left; color: black;  margin-top: 5px; font-weight: bolder; font-size: x-large; font-weight: bolder;">
                                TOTAL
                            </span>
                            <span style="float: right; font-weight: bold; font-size: x-large; color: black;">{{60000 | currency}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-g">
                <div class="ui-g-4">
                    <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="font-weight: bolder; font-size: x-large;">
                        Sale
                    </div>
                </div>
                <div class="ui-g-4">
                    <div class="ui-messages ui-widget ui-corner-all ui-messages-warn" style="font-weight: bolder; font-size: x-large;">
                        Pause
                    </div>
                </div>
                <div class="ui-g-4">
                    <div class="ui-messages ui-widget ui-corner-all ui-messages-error" style="font-weight: bolder; font-size: x-large;">
                        Cancel
                    </div>
                </div>
                <div class="ui-g-4">
                    <div class="ui-message ui-message-info ui-widget ui-corner-all" style="font-weight: bolder; font-size: x-large; width: 100%; margin-left: 0px;">
                        Customer
                    </div>
                </div>
                
                <!-- 
                <div class="ui-g-4">
                    <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="font-weight: bolder; font-size: x-large;">
                        Sale
                    </div>
                </div>
                <div class="ui-g-4">
                    <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="font-weight: bolder; font-size: x-large;">
                        Sale
                    </div>
                </div>
                <div class="ui-g-4">
                    <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="font-weight: bolder; font-size: x-large;">
                        Sale
                    </div>
                </div> -->
            </div>
        </div>
        
    </div>
</div>
