<div class="dashboard">
    <div class="card contacts">
        <!-- <ul>
            <li > -->
                <div class="main" *ngFor = "let product of products;">
                    <div class="inner-middle">
                        <span class="description" >
                            {{ product.name }}
                        </span>
                        <div class="remove green-rounded-button" > X </div>
                        <input pInputText  value="{{product.quantity}}" class="quantity">
                        <span class="price">{{product.price | currency}}</span>
                    </div>
                </div>
            <!-- </li>
        </ul> -->
    </div>
</div>